html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
	box-sizing: border-box;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
	font-family: Arial;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
img{
	width: 100%;
}

/*Header Style*/
.header {
	display: inline-block;
	float: left;
	width: 100%;
}
.header .logo {
	width: 150px;
	margin: 25px 165px;
}
.header .menu a {
	display: inline-block;
	width: 100%;
	background-color: #1111e1;
	height: 50px;
	line-height: 50px;
	color: #fff;
	text-decoration: none;
	font-weight: 500;
	text-transform: uppercase;
}
.header .menu ul{
	display: flex;
}
.header .menu ul li{
	flex: auto;
	text-align: center;
}
.header .menu a:hover{
	background-color: darkblue;
	transition: 0.3s;
}

/*content*/
.container {
	width: 1200px;
	margin: 0 auto;
}
.animepicture {
	width: 100%;
	display: inline-block;
	box-shadow: 0px 0px 10px gainsboro;
	margin-top: 20px;
}
.animepicture img {
	width: 700px;
	height: 400px;
	margin-left: 230px;
	margin-top: 30px;
	border-radius: 5px;
}
.animepicture h1 {
	font-size: 20px;
	padding: 13px;
	text-align: center;
	background-color: red;
	color: white;
	font-weight: bold;
}
.animepicture h2 {
	font-size: 35px;
	margin-bottom: 10px;
	margin-top: 30px;
	text-align: left;
	text-transform: uppercase;
	color: white;
	background-color: red;
}
.animepicture p {
	font-size: 17px;
	padding: 10px;
}
table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
  margin-top: 30px;
}
tr, td {
  border: 1px solid #dddddd;
  text-align: center;
  padding: 8px;
  color: red;
}
tr, td a {
	text-decoration: none;
	color: black;
}
tr, td a:hover {
	color: red;
	transition: 0.3s;
}

/*Footer Style*/
.footer{
	display: inline-block;
	width: 100%;
	float: left;
	background-color: #1a1a52;
	padding: 10px 0 0;
	margin-top: 100px;
	text-align: center;
}
.footer a{
	font-size: 16px;
	color: #fff;
	text-decoration: none;
	font-weight: 500;
	line-height: 36px;
	margin: 0 18px;
}
.footer .home:hover {
	transition: 0.5s;
		
}
.footer .aus:hover {
	transition: 0.5s;
	color: lightblue;
}
.footer .cous:hover {
	transition: 0.5s;
	color: lightblue;
}
.footer .tc:hover {
	transition: 0.5s;
	color: lightblue;
}
.footer .ad:hover {
	transition: 0.5s;
	color: lightblue;
}
.footer .fd:hover {
	transition: 0.5s;
	color: lightblue;
}
.footer .social-links{
	display: inline-block;
	margin: 22px 0;
}
.footer .social-links a{
	height: 42px;
	line-height: 42px;
	display: inline-block;
	width: 120px;
	padding: 0;
	margin: 0;
	float: left;
	font-size: 17px;
}
.footer .social-links a:hover {
	transition: 0.5s;
	color: black;
}
.footer .social-links .facebook{
	background-color: #3b5998;
	text-transform: uppercase;
	font-weight: bold;
}
.footer .social-links .email {
	background-color: red;
	text-transform: uppercase;
	font-weight: bold;
}
.footer .social-links .facebook:hover {
	background-color: #3b5998;
	font-size: 20px;
}
.footer .social-links .email:hover  {
	background-color: red;
	font-size: 20px;
}
.copyright{
	background-color: #00000060;
	padding: 15px 0;
	color: #fff;
	font-size: 16px;
	text-transform: uppercase;
}
@media screen and (max-width: 700px) {
   .header .menu, .footer {
   	width: 1200px;
  }
}
@media screen and (max-width: 700px) {
	.header a .logo img {
		width: 100px;
		margin-left: -175px;
	}
}
@media screen and (max-width: 1200px) {
   .header .menu, .footer {
   	width: 1200px;
  }
}
@media screen and (max-width: 1200px) {
	.header a .logo img {
		width: 100px;
		margin-left: -175px;
	}
}